<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<title>My first video Template | Awesome</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-4.3.1-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome-free-5.12.1-web/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="media-player.js"></script>
</head>
<body>
  <!-- Preloader -->
    

	<div id="topHeader">
		<div class="container-fluid px-0 h-100">
			<div class="row h-100 align-item-end">
				<div class="col-12 col-sm-4">
					<h1> Video Mag</h1>
				</div>
				<div class="col-12 col-sm-8">
					<img class="img-fluid" src="img/bg-img/add.png">
				</div>
			</div>
		</div> 
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container px-0">
 			<a class="navbar-brand zoom" href="index.html"><i class="fas fa-home"></i> Home</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-play"></i> Videos </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Nollywood</a>
                    <a class="dropdown-item" href="#">Hollywood</a>
                    <a class="dropdown-item" href="#">Bollywood</a>
                </div>
              </li>
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Music </a>
        				
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          					<a class="dropdown-item" href="#">POP</a>
          					<a class="dropdown-item" href="#">Raggae</a>
                    <a class="dropdown-item" href="#">Blues</a>
        				</div>
      				</li>
            		
            		<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle zoom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gossips </a>
        				
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          					<a class="dropdown-item" href="#">Celebs</a>
          					<a class="dropdown-item" href="#">Music</a>
        				</div>
      				</li>
            		
            	<li class="nav-item active">
                <a class="nav-link zoom" href="pages/contact.html"> Contact Us <span class="sr-only">(current)</span></a>
              </li>
     		    </ul>
				
				<form class="form-inline my-2 my-lg-0">
      				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"><a href="#"<i style="color:#fff;" class="fas fa-search" ></i></a>
    			</form>
  			</div>
  		</div>
	</nav>		

	<div class="white-space"></div>

  <div class="container">
    <hr>
      <div class="row">
        <div class="col-6">
          <p class="sub-header">Latest</p>
        </div>
        <div class="col-6">
          <p class="view-more"><a href="">View More <i class="fas fa-angle-double-right"></i></a> </p>
        </div>
      </div>
    <hr>
  </div>
